@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0611;
  --foreground: #c1bdc8;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--foreground);
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}
